.col-header {
    text-align: center;
}

.btn-danger {
    margin: 3px;
}

.btn-secondary {
    margin: 3px;
}

.card-header {
    margin: 5px;
}

.form {
    align-content: center;
}

#notes {
    text-align: center;
}